/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
.main-nav {
  width: 15%;
  height: 100%;
  float: left;
}

.nav-list li {
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: darkgray;
}

.nav-list input {
  width: 50%;
}

main .top-story {
  width: 50%;
  float: left;
  padding-right: 5%;
}

.top-story-img {
  width: 100%;
}

.side-stories {
  width: 30%;
  float: left;
}

.small-stories {
  width: 80%;
  float: right;
}

.small-stories .content-tag {
  float: none;
  display: block;
}

.small-stories section {
  width: 33.3333%;
  float: left;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
