/* BODY */
*{
  box-sizing: border-box;
}

/* HEADER & FOOTER */
header,
footer{
  height: 125px;
  border: 1.5px solid black;
  clear: both;
}

/* MIDDLE SECTIONS */
.middle section{
  height: 500px;
  width: 20%;
  border: 1px solid black;
  float: left;
}
.middle section:nth-child(2)
{
  width: 40%;
}
