/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  /* min-width: 95vw;
  min-height: 100vh; */
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
  height: 400px;
  margin: 0 auto;
  display: block;
}

h1,
h2 {
  text-align: center;
}
